
body
{
    background-color: #EEEEEE;
}

hr
{
    border-color: #D3DEDC;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%
}

h1
{
color: #91C483;
}
h3
{
color: #91C483
}

